$backgroundpale: linear-gradient(120deg, #FEFCE8, #B6E5B6, #FFFACD);
$background: linear-gradient(135deg, #FFB6D9, #FFFACD, #B6E5B6);

@font-face {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    src: url("../../media/SpaceMono-Regular.ttf");
}

$btnfont: font-family "Space Mono", monospace;